<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<div>
  {% if page.lang == "cn" %}
    {% assign raw = page.url | split: '/cn' %}
    {% assign ensite = raw[1] %}
    <a href={{ ensite }} class="language">English</a>
  {% else %}
    {% assign cnsite = "/cn" | append: page.url %}
    <a href={{ cnsite }} class="language">中文</a>
  {% endif %}
</div>
<link href="https://fonts.cat.net/css?family=Roboto:300,400|Source+Code+Pro" rel="stylesheet">
<!-- end custom head snippets -->
