/* ==========================================================================
   PAGE
   ========================================================================== */

.page__content {

    li p {
        font-size: 14px;
    }
    li code, li li {
        font-size: 14px;
    }
    p, li, dl {
        font-size: 14px;
    }
}
