/* ==========================================================================
   PAGE
   ========================================================================== */

.page__content {

    li p {
        font-size: 14px;
    }
    li code, li li {
        font-size: 14px;
    }
    p, li, dl {
        font-size: 14px;
    }
}

.page_without_sidebar {
  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}
