/* ==========================================================================
   PAGE
   ========================================================================== */

.page__content {

  p, li, dl {
    font-size: 0.79em;
  }
  ul li,
  ol li {
    font-size: 1em;
  }
}

.page_without_sidebar {
  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}

div {
  pre {
    code {
      font-size: 15px;
      line-height: 22.5px;
    }
  }
}
