/* ==========================================================================
   VARIABLES
   ========================================================================== */

$font-chs           : "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Open Sans";
$serif              : $font-chs, "Noto Sans SC", "Noto Serif", Times, Georgia, serif;
$sans-serif-narrow  : Roboto, $font-chs, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace          : Monaco, "Source Code Pro", "Open Sans", "Droid Sans Mono", monospace !default;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

$info-color                 : #2f6aff !default;

$x-large                    : 1440px !default;

$lighter-gray               : #fafafa !default;

$min-header-font-size       : 0.875em !default;   // ~14px
