/* ==========================================================================
   VARIABLES
   ========================================================================== */

$serif              : "Open Sans", "DejaVu Sans", Georgia, Times, serif;
$sans-serif-narrow  : "Droid Sans Mono", "DejaVu Sans Mono" -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

$info-color                 : #2f6aff !default;

$x-large                    : 1440px !default;

$lighter-gray               : #fafafa !default;
