/* ==========================================================================
   VARIABLES
   ========================================================================== */

@font-face {
  font-family: CustomSerifFont;
  src: local("Microsoft Yahei"),
       local("Hiragino Sans GB"),
       local("WenQuanYi Micro Hei"),
       local(Helvetica),
       local(Arial);
}

@font-face {
  font-family: CustomSerifFont;
  unicode-range: U+00-024F;
  src: local("Roboto"),
       local(Helvetica),
       local(Arial);
}

$serif              : CustomSerifFont, Times, Georgia, serif;
$sans-serif-narrow  : Monaco, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace          : Monaco, "Source Code Pro", Roboto, monospace !default;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;

$info-color                 : #0056ff !default;
$warning-color		    : #faad14 !default;

$x-large                    : 1440px !default;

$lighter-gray               : #fafafa !default;

$min-header-font-size       : 0.875em !default;   // ~14px

$masthead-background-color  : #0063FC !default;
