<div class="container">
  <div class="row justify-content-md-center">
    {% if page.lang == "cn" %}
      {% assign prefix = "/cn" %}
    {% else %}
      {% assign prefix = "" %}
    {% endif %}
    <div class="col">
      <ul>
        <p class="header">{{ site.data.ui-text[page.lang].events | default: "Events" }}</p>
        <a class="acevent" data-format="square" data-mode="dark" data-event="random"></a>
      </ul>
    </div>
    <div class="col">
      <ul>
        <p class="header">{{ site.data.ui-text[page.lang].resources | default: "Resources" }}</p>
        <li><a href="{{ prefix }}/docs/getting-started/">{{ site.data.ui-text[page.lang].quick_start | default: "Getting Started" }}</a></li>
        <li><a href="{{ prefix }}/docs/users/">{{ site.data.ui-text[page.lang].user_guide | default: "User Guide" }}</a></li>
        <li><a href="{{ prefix }}/slides/">{{ site.data.ui-text[page.lang].slides | default: "Workshop Slides" }}</a></li>
        <li><a href="{{ prefix }}/users/faq/">{{ site.data.ui-text[page.lang].faq | default: "Frequently Asked Questions" }}</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <p class="header">{{ site.data.ui-text[page.lang].asf | default: "ASF" }}</p>
        <li><a href="http://www.apache.org">{{ site.data.ui-text[page.lang].foundation | default: "Foundation" }}</a></li>
        <li><a href="http://www.apache.org/licenses/">{{ site.data.ui-text[page.lang].licenses | default: "License" }}</a></li>
        <li><a href="http://www.apache.org/events/current-event">{{ site.data.ui-text[page.lang].events | default: "Events" }}</a></li>
        <li><a href="http://www.apache.org/foundation/sponsorship.html">{{ site.data.ui-text[page.lang].sponsorship | default: "Sponsorship" }}</a></li>
        <li><a href="http://www.apache.org/foundation/thanks.html">{{ site.data.ui-text[page.lang].thanks | default: "Thanks" }}</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <p class="header">{{ site.data.ui-text[page.lang].contribute | default: "Contribute" }}</p>
        <li><a href="http://issues.apache.org/jira/browse/SCB">{{ site.data.ui-text[page.lang].report_issue | default: "Report a Doc Issue" }}</a></li>
        <li><a href="https://github.com/apache/servicecomb-website/edit/master/{{page.path}}">{{ site.data.ui-text[page.lang].edit_page | default: "Edit This Page on Github" }}</a></li>
        <li><a href="{{ prefix }}/developers/submit-codes/">{{ site.data.ui-text[page.lang].code_submit_guide | default: "Code Submit Guide" }}</a></li>
        <li><a href="{{ prefix }}/security">{{ site.data.ui-text[page.lang].security | default: "Security" }}</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="social-icons">
        <p class="header">{{ site.data.ui-text[page.lang].community | default: "Community" }}</p>
        <li>
            <a href="mailto:dev-subscribe@servicecomb.incubator.apache.org" rel="nofollow"><span class="mail">{{ site.data.ui-text[page.lang].mailing_list | default: "Mailing List" }}</span></a>
        </li>
        <li>
            <a href="https://github.com/apache?q=ServiceComb" target="_blank"><span class="github">Github</span></a>
        </li>
        <li>
            <a href="https://twitter.com/{{ site.twitter.username }}" target="_blank"><span class="twitter">Twitter</span></a>
        </li>
        <li>
            <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}" target="_blank"><span class="rss">{{ site.data.ui-text[page.lang].feed_label | default: "Feed" }}</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="page__footer-bottom">
  <div>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. {{ site.data.ui-text[page.lang].powered_by | default: "Powered by" }} <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
  <div>All other marks mentioned may be trademarks or registered trademarks of their respective owners.</div>
</div>
