<div class="container">
  <div class="row justify-content-md-center">
    {% if page.lang == "cn" %}
      {% assign prefix = "/cn" %}
    {% else %}
      {% assign prefix = "" %}
    {% endif %}
    <div class="col">
      <ul>
        <p class="header">{{ site.data.ui-text[page.lang].resources | default: "Resources" }}</p>
        <li><a href="{{ prefix }}/docs/quick-start/">{{ site.data.ui-text[page.lang].quick_start | default: "Quick Start" }}</a></li>
        <li><a href="{{ prefix }}/users/user-guide/">{{ site.data.ui-text[page.lang].user_guide | default: "User Guide" }}</a></li>
        <li><a href="{{ prefix }}/year-archive/">{{ site.data.ui-text[page.lang].blogs | default: "Blogs" }}</a></li>
        <li><a href="{{ prefix }}/users/faq/">{{ site.data.ui-text[page.lang].faq | default: "Frequently Asked Questions" }}</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <p class="header">{{ site.data.ui-text[page.lang].contribute | default: "Contribute" }}</p>
        <li><a href="https://github.com/ServiceComb/ServiceComb.github.io/issues/new?title=Issue with {{page.path}}">{{ site.data.ui-text[page.lang].report_issue | default: "Report a Doc Issue" }}</a></li>
        <li><a href="https://github.com/ServiceComb/ServiceComb.github.io/edit/master/{{page.path}}">{{ site.data.ui-text[page.lang].edit_page | default: "Edit This Page on Github" }}</a></li>
        <li><a href="{{ prefix }}/developers/pull-request-guide/">{{ site.data.ui-text[page.lang].pr_guide | default: "Pull Request Guide" }}</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="social-icons">
        <p class="header">{{ site.data.ui-text[page.lang].community | default: "Community" }}</p>
        <li>
          <i class="fa fa-users fa-group" aria-hidden="true"></i>
          <a href="https://groups.google.com/forum/#!forum/servicecomb-users"><span class="group">{{ site.data.ui-text[page.lang].user | default: "User" }}</span></a> |
          <a href="https://groups.google.com/forum/#!forum/servicecomb-developers"><span class="group">{{ site.data.ui-text[page.lang].dev | default: "Dev" }}</span></a>
        </li>
        <li>
          <a href="http://github.com/{{ site.author.github }}">
            <i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter.username }}">
            <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
          </a>
        </li>
        <li>
          <a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}">
            <i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[page.lang].feed_label | default: "Feed" }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <p class="description small">&copy; {{ site.time | date: '%Y' }} <b>{{ site.name | default: site.title }}</b>. {{ site.data.ui-text[page.lang].powered_by | default: "Powered by" }} <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</p>
  </div>
</div>
