<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
	      {% if page.lang == "cn" %}
          <a class="site-title active" href="{{ '/cn' | absolute_url }}"><img src="https://www.apache.org/img/servicecomb.png"></a>
	      {% else %}
          <a class="site-title active" href="{{ '/' | absolute_url }}"><img src="https://www.apache.org/img/servicecomb.png"></a>
	      {% endif %}
        <ul class="visible-links">
          {% for link in site.data.navigation.t[page.lang].main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item">
              {% assign prefixSize = link.url.size | minus:1 %}
              {% assign prefix = link.url | slice: 0, prefixSize  %}
              {% if page.url contains prefix %}
                <a class="active" href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              {% else %}
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
        <div class="nav-lang">
          {% if page.lang == "cn" %}
            {% assign raw = page.url | split: '/cn' %}
            {% assign ensite = raw[1] %}
            <a href={{ ensite }}>English</a>
          {% else %}
            {% assign cnsite = "/cn" | append: page.url %}
            <a href={{ cnsite }}>中文</a>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
</div>
