.summary .chapter[data-level="1.1"] {
    display: none;
}

table {
    table-layout: fixed;
    display:block;
    overflow-x: auto;
}

.metrics-cfg+table, .metrics-table {
    border-width: 1px;
    font-size: 12px;
    table-layout: auto;
}

.metrics-table th, .metrics-table td {
    white-space: nowrap;
}

.metrics-table td:last-child{
    white-space: normal;
}
